# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.sdf
*.opensdf
*.suo
*.user
*.ipch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Executables folders
Win32/Debug
.svn
bin/
debug/